@model HTTP5101Assignment3.Models.ErrorMessage
@{
    ViewBag.Title = "index";
}

<h2>An Error Occured</h2>

<div><strong>@Model.getErrorMessage()</strong></div>

<div style="margin-top: 40px">
    <a href="/Assignment4"><strong>Back to Assignment Page</strong></a>
</div>


