
@{
    ViewBag.Title = "Add";
}

<h2>Add New Student</h2>

<div>
    <form method="POST" action="/Student/Create">
        <div class="inputrow">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" />

        </div>
        <div class="inputrow">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" />

        </div>
        <div class="inputrow">
            <label for="studentNumber">Student Number:</label>
            <input type="text" id="studentNumber" name="studentNumber" />
        </div>
        <div class="inputrow">
            <label for="enrollDate">Date Enrolled:</label>
            <input type="date" id="enrollDate" name="enrollDate" />
        </div>
        <div class="inputrow">
            <input type="submit" value="Add" />
        </div>
    </form>
</div>
