@model IEnumerable<HTTP5101Assignment3.Models.Student>

@{
    ViewBag.Title = "Results";
}

<h2>Search Results</h2>

@if( Model == null || Model.Count() == 0 ) {
    <div><strong>There are no students that match that search criteria.</strong></div>
} else {
    <div>
        @foreach( var student in Model ) {

            <!-- Again, styling is an issue here.-->
            <div style="padding: 10px 0; font-size:1.5em">
                <a href="/Student/Show/@student.studentId"><strong>@student.studentFName @student.studentLName</strong></a>
            </div>
        }
    </div>
}

<div style="margin-top: 40px">
    <a href="/Assignment4"><strong>Back to Main Page</strong></a>
</div>


