<div class="jumbotron">
    <h1>HTTP5101 Web Application Development 1</h1>
    <p class="lead">Learning to build dynamic websites in C# using the .NET framework.</p>
    <p><a href="https://mediaarts.humber.ca/programs/web-development.html?year=2020" class="btn btn-primary btn-lg" style="background-color: #cc2d1f">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>At this point we have covered 9 modules:</p>
        <ol>
            <li>Introduction to Web Applications</li>
            <li>ASP.NET WebAPI and C#</li>
            <li>Frameworks, HTTP, and Github</li>
            <li>WebAPI Routing and the IF Statement</li>
            <li>Loops and Algorithms in C#</li>
            <li>Dynamic Web Pages</li>
            <li>Object Oriented Programming & MVC</li>
            <li>DB Connections & Client Rendering</li>
            <li>CRUD & Read Functionality</li>
        </ol>
        <p><a class="btn btn-default" href="https://learn.humber.ca/webapps/blackboard/content/listContent.jsp?course_id=_163337_1&content_id=_9252270_1&mode=reset">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Previous Assignments</h2>
        <p>In addition to quizzes and exercises, we have had two formal assignments.</p>
        <ul>
            <li><a href="https://github.com/ntrpi/HTTP5101_Assignment1_SandraKupfer">Assignment 1</a></li>
            <li><a href="https://github.com/ntrpi/HTTP5101B_Assignment2_SandraKupfer">Assignment 2</a></li>
        </ul>
        <p><a class="btn btn-default" href="https://learn.humber.ca/webapps/blackboard/content/listContent.jsp?course_id=_163337_1&content_id=_9252408_1&mode=reset">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Assignment</h2>
        <p>This entire website represents the third assignment of this course.</p>
        <p><a class="btn btn-default" href="/Teacher">Assignment 3 &raquo;</a></p>
    </div>
</div>
