<div class="jumbotron">
    <h1 style="font-size: 2em">HTTP5101 Web Application Development 1</h1>
    <p class="lead">Learning to build dynamic websites in C# using the .NET framework.</p>
    <p><a href="https://mediaarts.humber.ca/programs/web-development.html?year=2020" class="btn btn-primary btn-lg" style="background-color: #cc2d1f">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>At this point we have covered 12 modules:</p>
        <ol>
            <li>Introduction to Web Applications</li>
            <li>ASP.NET WebAPI and C#</li>
            <li>Frameworks, HTTP, and Github</li>
            <li>WebAPI Routing and the IF Statement</li>
            <li>Loops and Algorithms in C#</li>
            <li>Dynamic Web Pages</li>
            <li>Object Oriented Programming & MVC</li>
            <li>DB Connections & Client Rendering</li>
            <li>CRUD & Read Functionality</li>
            <li>Data Driven Features & Parameterized SQL</li>
            <li>CRUD & Delete, Add Functionality</li>
            <li>CRUD & Update Functionality</li>
        </ol>
        <p><a class="btn btn-default" href="https://learn.humber.ca/webapps/blackboard/content/listContent.jsp?course_id=_163337_1&content_id=_9252270_1&mode=reset" style="background-color: #ffa29f">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Previous Assignments</h2>
        <p>In addition to quizzes and exercises, we have had three formal assignments.</p>
        <ul>
            <li><a href="https://github.com/ntrpi/HTTP5101_Assignment1_SandraKupfer">Assignment 1</a></li>
            <li><a href="https://github.com/ntrpi/HTTP5101B_Assignment2_SandraKupfer">Assignment 2</a></li>
            <li><a href="https://github.com/ntrpi/HTTP5101B_Assignment3_SandraKupfer/releases/tag/v3.0">Assignment 3</a></li>
            <li><a href="https://github.com/ntrpi/HTTP5101B_Assignment3_SandraKupfer/releases/tag/1.0.0.4">Assignment 4</a></li>
        </ul>
        <p><a class="btn btn-default" href="https://learn.humber.ca/webapps/blackboard/content/listContent.jsp?course_id=_163337_1&content_id=_9252408_1&mode=reset" style="background-color: #ffa29f">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Assignment</h2>
        <p>This entire website represents the fifth assignment of this course. Like Assignment 4, this assignment continues to build onto Assignment 3, using the same data and models but adding more functionality. For Assignment 5 we were asked to add update functionality for the teachers table. This was done, and also done for the students and classes tables. As well, AJAX functionality for adding a teacher was added, but there seems to be a disconnect between the data being sent by teachers.js and what is being delivered to addTeacher in the data controller.</p>
        <p><a class="btn btn-default" href="/Assignment4" style="background-color: #cc2d1f; color: white">Assignment 5 &raquo;</a></p>
    </div>
</div>
