<!-- A View which uses server rendering to display teachers from
the MySQL Database -->

@model IEnumerable<HTTP5101Assignment3.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>Teachers</h2>
<h3>
    This page shows a list of all the teachers in the database.
</h3>


@if( Model == null || Model.Count() == 0 ) {
    <div><strong>There are no teachers in the database.</strong></div>
} else {
    <div>
        @foreach( var teacher in Model ) {

            <div>
                <a href="/Teacher/Show/@teacher.teacherId">@teacher.teacherFName @teacher.teacherLName</a>
            </div>
        }
    </div>
}

<div style="margin-top: 40px">
    <a href="/Assignment4"><strong>Back to Assignment Page</strong></a>
</div>

