@model IEnumerable<HTTP5101Assignment3.Models.Teacher>

@{
    ViewBag.Title = "Results";
}

<h2>Search Results</h2>



@if( Model == null || Model.Count() == 0 ) {
    <div><strong>There are no teachers that match that search criteria.</strong></div>
} else {
    <div>
        @foreach( var teacher in Model ) {

            <!-- Again, styling is an issue here.-->
            <div style="padding: 20px 0"><strong>Name:</strong> @teacher.firstName @teacher.lastName</div>

            <!-- I didn't want to have a form here, I wanted the name to be
                a link, but I couldn't figure out how to pass the teacherId.-->
            <form action="/Teacher/Show" method="POST">
                <input id="teacherId" name="teacherId" type="number" value=@teacher.teacherId style="display: none" />
                <input type="submit" value="View @teacher.firstName @teacher.lastName" />
            </form>
        }
    </div>
}

<div style="margin-top: 40px">
    <a href="/Teacher"><strong>Back to Main Page</strong></a>
</div>

